* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red
}

.header-full {
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.header-boxed {
  width: 600px;
  padding: 10px;
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.main-boxed {
  width: 600px;
}


.footer-full {
  width: 100%;
  background-color: blueviolet;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer-boxed {
  width: 600px;
  background-color: bisque;
}