* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 187, 187)
}

.header-full {
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.header-boxed {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.main-boxed {
  width: 1000px;
  align-items: center;
  justify-content: center;
}

.footer-full {
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer-boxed {width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}