* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 187, 187)
}

.header-full {
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.header-boxed {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
}

.header-text {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  font-weight: bolder;
}

.main-full {
  width: 100%;
  margin: 10px 0;
}

.main-boxed {
  margin: 20px;
  padding: 20px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-welcome {
  color: black;
  text-decoration: underline;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;

}

.informations {
  color: black;
  font-size: 20px;
  font-weight: bold;
  /* border: 1px solid green; */

}

.link-images {
  width: 100%;
  padding: auto;
  gap: 10px;
  justify-content: space-between;
}

.images {
  display:flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  font-size: larger;
  gap: 10px;
  /* border: 1px solid green; */
}

.players-table {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer-full {
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer-boxed {width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  font-weight: bolder;
}